---
permalink: /
title: "About me"
excerpt: "About me"
author_profile: true
redirect_from: 
  - /about/
  - /about.md
---

<p>I am a biomedical engineer specializing in opto-electric systems for medical applications. My experience spans hardware, software, firmware, system integration, data collection/analysis, and machine learning methods. </p>

<p>I received my B.S. in Electrical engineering from Cornell University in 2009 where I focused on signal processing. I got my PhD in Biomedical Engineering with <a href=https://ase.tufts.edu/biomedical/unolab/home.html>Fiorenzo Omentto's lab</a> at Tufts University in 2016. My <a href=https://dl.tufts.edu/concern/pdfs/th83m870j>thesis</a> looked at different methods of photo-modification of biomaterials with a particular focus on silk. From 2016 to 2021 I worked with <a href=https://www.bu.edu/botlab/>Darren Roblyer</a> at Boston University to develop and test novel diffuse optical imaging modalities. Currently, I'm working with <a href=https://coe.northeastern.edu/people/dy-jennifer/>Jennifer Dy</a> and <a href=https://www.mskcc.org/research-areas/labs/milind-rajadhyaksha>Milind Rajadhyaksha</a> to develop new machine learning algorithms for diagnosis and monitoring of skin cancer. </p>


<h2>Recent research</h2>

{% for post in site.research reversed %}
  {% if forloop.index < 3 %}
    {% include archive-double-research.html %}
  {% endif %}
{% endfor %}

For more, check the <a href=/research/>Research</a>, <a href=/publications/>Publications</a>, or <a href=/cv/>CV</a> pages
